body {
    margin: 0;
    background: #2d3d59;
    /* background: #151f30; */
    /* background: #1a1e26; */

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body h1 {
    color: rgb(255, 255, 255);
}

hr {
    height: 2px;
    border-width: 0;
    background-color: darkorange;
}

header {
    /* background: #2d3d59; */
    /* background: #151f30; */
    background: #1a1e26;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    width: 150px;
    height: auto;

    float: left;
    padding: 20px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;

    position: relative;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover {
    /* color: orange; */
    opacity: 85%;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: orange;

    position: absolute;
    top: 10px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}